Repository vanvalenlab/deepcell-tf, pull requests merged in 2023-08, with the labels that each got.

#680 MAINT: Require deepcell-toolbox 0.12.1
  requirements.txt
  setup.py
Labels: dependencies, chore

#678 Adding data auth layer.
  .github/workflows/test-docs.yaml
  deepcell/datasets/__init__.py
  deepcell/utils/__init__.py
  deepcell/utils/_auth.py
  requirements.txt
  setup.py
Labels: enhancement, datasets

#679 New authenticated datasets with documentation gallery
  .gitignore
  .readthedocs.yml
  deepcell/datasets/README.md
  deepcell/datasets/__init__.py
  deepcell/datasets/cytoplasm.py
  deepcell/datasets/dataset.py
  deepcell/datasets/dataset_test.py
  deepcell/datasets/dynamic_nuclear_net.py
  deepcell/datasets/phase.py
  deepcell/datasets/tissue_net.py
  deepcell/datasets/tracked.py
  deepcell/utils/__init__.py
  deepcell/utils/_auth.py
  docs/Makefile
  docs/images/3t3_nuclear_outlines.png
  docs/images/multiplex_overlay.png
  docs/requirements-docs.txt
  docs/source/API-key.rst
  docs/source/API/deepcell.datasets.rst
  docs/source/conf.py
  docs/source/datasets/README.rst
  docs/source/datasets/dynamicnuclearnet.py
  docs/source/datasets/tissuenet.py
  docs/source/index.rst
  pyproject.toml
Labels: enhancement, datasets, documentation

#681 Application gallery and authenticated applications
  .gitignore
  deepcell/applications/cell_tracking.py
  deepcell/applications/mesmer.py
  deepcell/applications/nuclear_segmentation.py
  deepcell/datasets/dynamic_nuclear_net.py
  deepcell/utils/_auth.py
  docs/Makefile
  docs/images/caliban-labeled.gif
  docs/images/caliban-raw.gif
  docs/images/caliban-tracks.gif
  docs/images/mesmer-input.png
  docs/images/mesmer-interior-threshold.png
  docs/images/mesmer-maxima-threshold.png
  docs/images/mesmer-nuc-expansion.png
  docs/images/mesmer-nuc.png
  docs/images/mesmer-wc.png
  docs/source/applications/README.rst
  docs/source/applications/caliban.py
  docs/source/applications/mesmer.py
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
Labels: documentation, model update

#688 Authenticated SpotNet dataset
  deepcell/datasets/__init__.py
  deepcell/datasets/dataset.py
  deepcell/datasets/dataset_test.py
  deepcell/datasets/spot_net.py
  docs/images/spots.png
  docs/source/API/deepcell.datasets.rst
  docs/source/datasets/spotnet.py
Labels: datasets
